* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-color: rgb(71, 113, 72)
}

#memory-board {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(7.692307692307692% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
}

.back_face:active {
  transform: scale(0.95);
  transition: transform 0.2s;
}

.back_face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}
